
<div class="greet">
 <p> MY LOVE </p>
  <%= image_tag 'a.jpg', :class => "img-left"%>
  <%= image_tag 'b.jpg', :class => "img-left"%>
  <%= image_tag 'c.jpg', :class => "img-left"%>
  <%= image_tag 'd.jpg', :class => "img-left"%>
  <%= image_tag 'e.jpg', :class => "img-left"%>
  <p> My Friend </p>
  <%= image_tag 'f.jpg', :class => "img-left"%>
  <%= image_tag 'g.jpg', :class => "img-left"%>
  <%= image_tag 'h.jpg', :class => "img-left"%>
  <%= image_tag 'i.jpg', :class => "img-left"%>
  <%= image_tag 'j.jpg', :class => "img-left"%>
  <p> My Princess </p>
  <%= image_tag 'k.jpg', :class => "img-left"%>
  <%= image_tag 'l.jpg', :class => "img-left"%>
  <%= image_tag 'm.jpg', :class => "img-left"%>
  <%= image_tag 'n.jpg', :class => "img-left"%>
  <%= image_tag 'o.jpg', :class => "img-left"%>
  <p> my heart </p>
  <%= image_tag 'p.jpg', :class => "img-left"%>
  <%= image_tag 'q.jpg', :class => "img-left"%>
  <%= image_tag 'r.jpg', :class => "img-left"%>
  <%= image_tag 's.jpg', :class => "img-left"%>
  <%= image_tag 't.jpg', :class => "img-left"%>
  <p class="love" style="text-shadow: 1px 1px #000">I Love You.</p>
  <p>Be My Val <br /> <strong>From MIKKY P. </strong></p>
</div>
